<div class="container">
    <div>
        <ul class="list-inline text-center font-weight-bold font-italic">
            <li class="list-inline-item">
                <a class="white" target="_blank" href="https://www.hexerve.com"><b>Main Website</b></a>
            </li>
            <li class="list-inline-item">
                <a class="white" target="_blank" href="https://www.hexerve.com/about"><b>About</b></a>
            </li>
            <li class="list-inline-item">
                <a class="white" target="_blank" href="https://www.hexerve.com/terms-and-conditions"><b>Terms &amp; Conditions</b></a>
            </li>
            <li class="list-inline-item">
                <a class="white" target="_blank" href="https://www.hexerve.com/privacy-policy"><b>Privacy Policy</b></a>
            </li>
            <li class="list-inline-item">
                <a class="white" target="_blank" href="https://www.hexerve.com/contact"><b>Contact Us</b></a>
            </li>
        </ul>
    </div>
    <hr class="bg-secondary" />
    <div class="text-center mb-1">
        <span>Copyright &copy; 2018 Hexerve.</span>
    </div>

</div>
</footer>