<nav class="navbar navbar-expand-lg navbar-light navbar-fixed-top" style="display:none">
    <div class="container">
        <!-- Brand/logo -->
        <a class="navbar-brand" href="https://www.hexerve.com" target="_blank">
            <figure class="figure">
                <img src="/Hexerve-logo.png" alt="Hexerve">
                <figcaption class="figure-caption">Home Automation</figcaption>
            </figure>
        </a>

        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler navbar-dark" id="nav-toggler" type="button" data-toggle="collapse" data-target=".collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse collapsibleNavbar">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" id="admin">
                    <a class="nav-link effect white" href="/admin">Admin</a>
                </li>
                <% if(home){ %>
                <li class="nav-item">
                    <a class="nav-link effect white" href="/dashboard">Home</a>
                </li>
                <% } %>
                <% if(login){ %>
                <li class="nav-item white guest">
                    <a class="nav-link effect white" href="/login">Login / Register</a>
                </li>
                <% } %>
                <% if(account){ %>
                <li class="nav-item logged dropdown" id="account-list">
                    <a class="dropdown-toggle nav-link white" data-toggle="dropdown" href="#">My Account
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu" id="account-list-menu">
                        <li class="nav-item logged">
                            <a class="nav-link white" href="/profile">Update Profile</a>
                        </li>
                        <li class="nav-item logged">
                            <a class="nav-link white" href="/resetpass">Reset Password</a>
                        </li>
                        <li class="nav-item logged">
                            <a class="nav-link white" href="/devices">Devices</a>
                        </li>
                        <li class="nav-item logged">
                            <a class="nav-link white" onclick="logout()" href="./login?action=logout">Log out</a>
                        </li>
                    </ul>
                </li>
                <% } %>
                <li class="nav-item white effect logged">
                    <a class="nav-link white" href="https://www.hexerve.com/contact" target="_blank">Contact Us</a>
                </li>
            </ul>
        </div>

    </div>
</nav>
