<% include partials/header.ejs %>
    <link rel="stylesheet" href="https://grt107.github.io/grt-youtube-popup/grt-youtube-popup.css">
    <script src="https://grt107.github.io/grt-youtube-popup/grt-youtube-popup.js"></script>
    <script src="/js/dashboard.js"></script>

    </head>

    <body>

        <%- include('partials/navbar', {
        home: false,
        login: false,
        plan: true,
        account: true
    }); %>
            <div id="loader" class="container row">
                <img class="hexerve" src="/hexerve.png" />
            </div>

            <div class="body-container container" style="display:none">
                <div id="err"></div>

                <div class="text-light m-5 accordion" id="devices">

                </div>
            </div>


            <footer class="footer fixed-bottom text-light">
                <% include partials/footer.ejs %>
    </body>

    </html>