<% include partials/header.ejs %>
<script src="/js/forgetPass.js"></script>
</head>

<body>
    <%- include('partials/navbar', {
            home: true,
            login: true,
            plan: true,
            account: false
        }); %>

    <div id="loader" class="container row">
        <img class="hexerve" src="/hexerve.png" />
    </div>

    <div class="fixed-top body-container container"  style="display:none">
        <div class="row">
            <div class="col-md-2 login">

            </div>
            <div class="col-md-8 login">
                <div class="container">
                    <div id="pass-msg"></div>
                    <form>
                        <div class="input-group mb-3 input-group-lg container">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Email</span>
                            </div>
                            <input type="email" class="form-control" id="email" placeholder="example@gmail.com">
                        </div>

                        <div class="wrapper text-center">
                            <div class="btn-group btn-group-lg">
                                <button type="button" id="reset_btn" class="btn wobble-vertical">Reset Password</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-2 login">

            </div>
        </div>
    </div>

    <footer class="footer fixed-bottom fill-content text-light">
        <% include partials/footer.ejs %>
</body>

</html>